@charset "UTF-8";

@font-face {
  font-family: "prosperfit-icon";
  src:url("../fonts/prosperfit-icon.eot");
  src:url("../fonts/prosperfit-icon.eot?#iefix") format("embedded-opentype"),
    url("../fonts/prosperfit-icon.woff") format("woff"),
    url("../fonts/prosperfit-icon.ttf") format("truetype"),
    url("../fonts/prosperfit-icon.svg#prosperfit-icon") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "prosperfit-icon" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "prosperfit-icon" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-analytics:before {
  content: "\e000";
}
.icon-document:before {
  content: "\e001";
}
.icon-language:before {
  content: "\e002";
}
.icon-library:before {
  content: "\e003";
}
.icon-outreach:before {
  content: "\e004";
}
.icon-play:before {
  content: "\e005";
}
.icon-power:before {
  content: "\e006";
}
.icon-video:before {
  content: "\e007";
}
.icon-wave:before {
  content: "\e008";
}
.icon-activity:before {
  content: "\e009";
}
.icon-airplay:before {
  content: "\e00a";
}
.icon-alert-circle:before {
  content: "\e00b";
}
.icon-alert-octagon:before {
  content: "\e00c";
}
.icon-alert-triangle:before {
  content: "\e00d";
}
.icon-align-center:before {
  content: "\e00e";
}
.icon-align-justify:before {
  content: "\e00f";
}
.icon-align-left:before {
  content: "\e010";
}
.icon-align-right:before {
  content: "\e011";
}
.icon-anchor:before {
  content: "\e012";
}
.icon-aperture:before {
  content: "\e013";
}
.icon-archive:before {
  content: "\e014";
}
.icon-arrow-down:before {
  content: "\e015";
}
.icon-arrow-down-circle:before {
  content: "\e016";
}
.icon-arrow-down-left:before {
  content: "\e017";
}
.icon-arrow-down-right:before {
  content: "\e018";
}
.icon-arrow-left:before {
  content: "\e019";
}
.icon-arrow-left-circle:before {
  content: "\e01a";
}
.icon-arrow-right:before {
  content: "\e01b";
}
.icon-arrow-right-circle:before {
  content: "\e01c";
}
.icon-arrow-up:before {
  content: "\e01d";
}
.icon-arrow-up-circle:before {
  content: "\e01e";
}
.icon-arrow-up-left:before {
  content: "\e01f";
}
.icon-arrow-up-right:before {
  content: "\e020";
}
.icon-at-sign:before {
  content: "\e021";
}
.icon-award:before {
  content: "\e022";
}
.icon-bar-chart:before {
  content: "\e023";
}
.icon-bar-chart-2:before {
  content: "\e024";
}
.icon-battery:before {
  content: "\e025";
}
.icon-battery-charging:before {
  content: "\e026";
}
.icon-bell:before {
  content: "\e027";
}
.icon-bell-off:before {
  content: "\e028";
}
.icon-bluetooth:before {
  content: "\e029";
}
.icon-bold:before {
  content: "\e02a";
}
.icon-book:before {
  content: "\e02b";
}
.icon-book-open:before {
  content: "\e02c";
}
.icon-bookmark:before {
  content: "\e02d";
}
.icon-box:before {
  content: "\e02e";
}
.icon-briefcase:before {
  content: "\e02f";
}
.icon-calendar:before {
  content: "\e030";
}
.icon-camera:before {
  content: "\e031";
}
.icon-camera-off:before {
  content: "\e032";
}
.icon-cast:before {
  content: "\e033";
}
.icon-check:before {
  content: "\e034";
}
.icon-check-circle:before {
  content: "\e035";
}
.icon-check-square:before {
  content: "\e036";
}
.icon-chevron-down:before {
  content: "\e037";
}
.icon-chevron-left:before {
  content: "\e038";
}
.icon-chevron-right:before {
  content: "\e039";
}
.icon-chevron-up:before {
  content: "\e03a";
}
.icon-chevrons-down:before {
  content: "\e03b";
}
.icon-chevrons-left:before {
  content: "\e03c";
}
.icon-chevrons-right:before {
  content: "\e03d";
}
.icon-chevrons-up:before {
  content: "\e03e";
}
.icon-chrome:before {
  content: "\e03f";
}
.icon-circle:before {
  content: "\e040";
}
.icon-clipboard:before {
  content: "\e041";
}
.icon-clock:before {
  content: "\e042";
}
.icon-cloud:before {
  content: "\e043";
}
.icon-cloud-drizzle:before {
  content: "\e044";
}
.icon-cloud-lightning:before {
  content: "\e045";
}
.icon-cloud-off:before {
  content: "\e046";
}
.icon-cloud-rain:before {
  content: "\e047";
}
.icon-cloud-snow:before {
  content: "\e048";
}
.icon-code:before {
  content: "\e049";
}
.icon-codepen:before {
  content: "\e04a";
}
.icon-codesandbox:before {
  content: "\e04b";
}
.icon-coffee:before {
  content: "\e04c";
}
.icon-columns:before {
  content: "\e04d";
}
.icon-command:before {
  content: "\e04e";
}
.icon-compass:before {
  content: "\e04f";
}
.icon-copy:before {
  content: "\e050";
}
.icon-corner-down-left:before {
  content: "\e051";
}
.icon-corner-down-right:before {
  content: "\e052";
}
.icon-corner-left-down:before {
  content: "\e053";
}
.icon-corner-left-up:before {
  content: "\e054";
}
.icon-corner-right-down:before {
  content: "\e055";
}
.icon-corner-right-up:before {
  content: "\e056";
}
.icon-corner-up-left:before {
  content: "\e057";
}
.icon-corner-up-right:before {
  content: "\e058";
}
.icon-cpu:before {
  content: "\e059";
}
.icon-credit-card:before {
  content: "\e05a";
}
.icon-crop:before {
  content: "\e05b";
}
.icon-crosshair:before {
  content: "\e05c";
}
.icon-database:before {
  content: "\e05d";
}
.icon-delete:before {
  content: "\e05e";
}
.icon-disc:before {
  content: "\e05f";
}
.icon-dollar-sign:before {
  content: "\e060";
}
.icon-download:before {
  content: "\e061";
}
.icon-download-cloud:before {
  content: "\e062";
}
.icon-droplet:before {
  content: "\e063";
}
.icon-edit:before {
  content: "\e064";
}
.icon-edit-2:before {
  content: "\e065";
}
.icon-edit-3:before {
  content: "\e066";
}
.icon-external-link:before {
  content: "\e067";
}
.icon-eye:before {
  content: "\e068";
}
.icon-eye-off:before {
  content: "\e069";
}
.icon-facebook:before {
  content: "\e06a";
}
.icon-fast-forward:before {
  content: "\e06b";
}
.icon-feather:before {
  content: "\e06c";
}
.icon-figma:before {
  content: "\e06d";
}
.icon-file:before {
  content: "\e06e";
}
.icon-file-minus:before {
  content: "\e06f";
}
.icon-file-plus:before {
  content: "\e070";
}
.icon-file-text:before {
  content: "\e071";
}
.icon-film:before {
  content: "\e072";
}
.icon-filter:before {
  content: "\e073";
}
.icon-flag:before {
  content: "\e074";
}
.icon-folder:before {
  content: "\e075";
}
.icon-folder-minus:before {
  content: "\e076";
}
.icon-folder-plus:before {
  content: "\e077";
}
.icon-framer:before {
  content: "\e078";
}
.icon-frown:before {
  content: "\e079";
}
.icon-gift:before {
  content: "\e07a";
}
.icon-git-branch:before {
  content: "\e07b";
}
.icon-git-commit:before {
  content: "\e07c";
}
.icon-git-merge:before {
  content: "\e07d";
}
.icon-git-pull-request:before {
  content: "\e07e";
}
.icon-github:before {
  content: "\e07f";
}
.icon-gitlab:before {
  content: "\e080";
}
.icon-globe:before {
  content: "\e081";
}
.icon-grid:before {
  content: "\e082";
}
.icon-hard-drive:before {
  content: "\e083";
}
.icon-hash:before {
  content: "\e084";
}
.icon-headphones:before {
  content: "\e085";
}
.icon-heart:before {
  content: "\e086";
}
.icon-help-circle:before {
  content: "\e087";
}
.icon-hexagon:before {
  content: "\e088";
}
.icon-home:before {
  content: "\e089";
}
.icon-image:before {
  content: "\e08a";
}
.icon-inbox:before {
  content: "\e08b";
}
.icon-info:before {
  content: "\e08c";
}
.icon-instagram:before {
  content: "\e08d";
}
.icon-italic:before {
  content: "\e08e";
}
.icon-key:before {
  content: "\e08f";
}
.icon-layers:before {
  content: "\e090";
}
.icon-layout:before {
  content: "\e091";
}
.icon-life-buoy:before {
  content: "\e092";
}
.icon-link:before {
  content: "\e093";
}
.icon-link-2:before {
  content: "\e094";
}
.icon-linkedin:before {
  content: "\e095";
}
.icon-list:before {
  content: "\e096";
}
.icon-loader:before {
  content: "\e097";
}
.icon-lock:before {
  content: "\e098";
}
.icon-log-in:before {
  content: "\e099";
}
.icon-log-out:before {
  content: "\e09a";
}
.icon-mail:before {
  content: "\e09b";
}
.icon-map:before {
  content: "\e09c";
}
.icon-map-pin:before {
  content: "\e09d";
}
.icon-maximize:before {
  content: "\e09e";
}
.icon-maximize-2:before {
  content: "\e09f";
}
.icon-meh:before {
  content: "\e0a0";
}
.icon-menu:before {
  content: "\e0a1";
}
.icon-message-circle:before {
  content: "\e0a2";
}
.icon-message-square:before {
  content: "\e0a3";
}
.icon-mic:before {
  content: "\e0a4";
}
.icon-mic-off:before {
  content: "\e0a5";
}
.icon-minimize:before {
  content: "\e0a6";
}
.icon-minimize-2:before {
  content: "\e0a7";
}
.icon-minus:before {
  content: "\e0a8";
}
.icon-minus-circle:before {
  content: "\e0a9";
}
.icon-minus-square:before {
  content: "\e0aa";
}
.icon-monitor:before {
  content: "\e0ab";
}
.icon-moon:before {
  content: "\e0ac";
}
.icon-more-horizontal:before {
  content: "\e0ad";
}
.icon-more-vertical:before {
  content: "\e0ae";
}
.icon-mouse-pointer:before {
  content: "\e0af";
}
.icon-move:before {
  content: "\e0b0";
}
.icon-music:before {
  content: "\e0b1";
}
.icon-navigation:before {
  content: "\e0b2";
}
.icon-navigation-2:before {
  content: "\e0b3";
}
.icon-octagon:before {
  content: "\e0b4";
}
.icon-package:before {
  content: "\e0b5";
}
.icon-paperclip:before {
  content: "\e0b6";
}
.icon-pause:before {
  content: "\e0b7";
}
.icon-pause-circle:before {
  content: "\e0b8";
}
.icon-pen-tool:before {
  content: "\e0b9";
}
.icon-percent:before {
  content: "\e0ba";
}
.icon-phone:before {
  content: "\e0bb";
}
.icon-phone-call:before {
  content: "\e0bc";
}
.icon-phone-forwarded:before {
  content: "\e0bd";
}
.icon-phone-incoming:before {
  content: "\e0be";
}
.icon-phone-missed:before {
  content: "\e0bf";
}
.icon-phone-off:before {
  content: "\e0c0";
}
.icon-phone-outgoing:before {
  content: "\e0c1";
}
.icon-pie-chart:before {
  content: "\e0c2";
}
.icon-play-line:before {
  content: "\e0c3";
}
.icon-play-circle:before {
  content: "\e0c4";
}
.icon-plus:before {
  content: "\e0c5";
}
.icon-plus-circle:before {
  content: "\e0c6";
}
.icon-plus-square:before {
  content: "\e0c7";
}
.icon-pocket:before {
  content: "\e0c8";
}
.icon-power-1:before {
  content: "\e0c9";
}
.icon-printer:before {
  content: "\e0ca";
}
.icon-radio:before {
  content: "\e0cb";
}
.icon-refresh-ccw:before {
  content: "\e0cc";
}
.icon-refresh-cw:before {
  content: "\e0cd";
}
.icon-repeat:before {
  content: "\e0ce";
}
.icon-rewind:before {
  content: "\e0cf";
}
.icon-rotate-ccw:before {
  content: "\e0d0";
}
.icon-rotate-cw:before {
  content: "\e0d1";
}
.icon-rss:before {
  content: "\e0d2";
}
.icon-save:before {
  content: "\e0d3";
}
.icon-scissors:before {
  content: "\e0d4";
}
.icon-search:before {
  content: "\e0d5";
}
.icon-send:before {
  content: "\e0d6";
}
.icon-server:before {
  content: "\e0d7";
}
.icon-settings:before {
  content: "\e0d8";
}
.icon-share-push:before {
  content: "\e0d9";
}
.icon-share:before {
  content: "\e0da";
}
.icon-shield:before {
  content: "\e0db";
}
.icon-shield-off:before {
  content: "\e0dc";
}
.icon-shopping-bag:before {
  content: "\e0dd";
}
.icon-shopping-cart:before {
  content: "\e0de";
}
.icon-shuffle:before {
  content: "\e0df";
}
.icon-sidebar:before {
  content: "\e0e0";
}
.icon-skip-back:before {
  content: "\e0e1";
}
.icon-skip-forward:before {
  content: "\e0e2";
}
.icon-slack:before {
  content: "\e0e3";
}
.icon-slash:before {
  content: "\e0e4";
}
.icon-sliders:before {
  content: "\e0e5";
}
.icon-smartphone:before {
  content: "\e0e6";
}
.icon-smile:before {
  content: "\e0e7";
}
.icon-speaker:before {
  content: "\e0e8";
}
.icon-square:before {
  content: "\e0e9";
}
.icon-star:before {
  content: "\e0ea";
}
.icon-stop-circle:before {
  content: "\e0eb";
}
.icon-sun:before {
  content: "\e0ec";
}
.icon-sunrise:before {
  content: "\e0ed";
}
.icon-sunset:before {
  content: "\e0ee";
}
.icon-tablet:before {
  content: "\e0ef";
}
.icon-tag:before {
  content: "\e0f0";
}
.icon-target:before {
  content: "\e0f1";
}
.icon-terminal:before {
  content: "\e0f2";
}
.icon-thermometer:before {
  content: "\e0f3";
}
.icon-thumbs-down:before {
  content: "\e0f4";
}
.icon-thumbs-up:before {
  content: "\e0f5";
}
.icon-toggle-left:before {
  content: "\e0f6";
}
.icon-toggle-right:before {
  content: "\e0f7";
}
.icon-tool:before {
  content: "\e0f8";
}
.icon-trash:before {
  content: "\e0f9";
}
.icon-trash-2:before {
  content: "\e0fa";
}
.icon-trello:before {
  content: "\e0fb";
}
.icon-trending-down:before {
  content: "\e0fc";
}
.icon-trending-up:before {
  content: "\e0fd";
}
.icon-triangle:before {
  content: "\e0fe";
}
.icon-truck:before {
  content: "\e0ff";
}
.icon-tv:before {
  content: "\e100";
}
.icon-twitch:before {
  content: "\e101";
}
.icon-twitter:before {
  content: "\e102";
}
.icon-type:before {
  content: "\e103";
}
.icon-umbrella:before {
  content: "\e104";
}
.icon-underline:before {
  content: "\e105";
}
.icon-unlock:before {
  content: "\e106";
}
.icon-upload:before {
  content: "\e107";
}
.icon-upload-cloud:before {
  content: "\e108";
}
.icon-user:before {
  content: "\e109";
}
.icon-user-check:before {
  content: "\e10a";
}
.icon-user-minus:before {
  content: "\e10b";
}
.icon-user-plus:before {
  content: "\e10c";
}
.icon-user-x:before {
  content: "\e10d";
}
.icon-users:before {
  content: "\e10e";
}
.icon-video-1:before {
  content: "\e10f";
}
.icon-video-off:before {
  content: "\e110";
}
.icon-voicemail:before {
  content: "\e111";
}
.icon-volume-low:before {
  content: "\e112";
}
.icon-volume-med:before {
  content: "\e113";
}
.icon-volume-high:before {
  content: "\e114";
}
.icon-volume-mute:before {
  content: "\e115";
}
.icon-watch:before {
  content: "\e116";
}
.icon-wifi:before {
  content: "\e117";
}
.icon-wifi-off:before {
  content: "\e118";
}
.icon-wind:before {
  content: "\e119";
}
.icon-close:before {
  content: "\e11a";
}
.icon-x-circle:before {
  content: "\e11b";
}
.icon-x-octagon:before {
  content: "\e11c";
}
.icon-x-square:before {
  content: "\e11d";
}
.icon-youtube:before {
  content: "\e11e";
}
.icon-zap:before {
  content: "\e11f";
}
.icon-zap-off:before {
  content: "\e120";
}
.icon-zoom-in:before {
  content: "\e121";
}
.icon-zoom-out:before {
  content: "\e122";
}
